@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --pink: #ffa9da;
    --yellow: #f4ff8a;
    --ice: #fcfcfc;
    --gray: #eaeaea;
    --black: #0c0c0c;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
